@use "bootstrap/scss/bootstrap";

.imgPoster {
    width: 100%;
    aspect-ratio: 1/1.5;
    object-fit: cover;
}

.imgNotFound {
    width: 100%;
    aspect-ratio: 1/1.5;
    background-color: black;
    color: red;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    font-size: 32px;
}